<section *ngIf="isActive()">
    <app-card-orders  [orderData]="getOrderDetail()"></app-card-orders>
    <mat-card class="card-orders">
        <mat-card-header>
            <div class="content-img">
                <img src="assets/img/user.png" alt="image avatar">
            </div>
        </mat-card-header>
        <mat-card-content>
            <h3 class="title">10:30 PM</h3>
            <div class="steps-status">
                <section class="content" *ngFor="let item of listStatusItem; let i = index;">
                    <div class="content-circle">
                        <div class="status-order" *ngIf="item.active">
                            <img src="assets/icons/icon_check.svg" alt="status check">
                        </div>
                            <div *ngIf="!item.active">
                                <img src="assets/icons/icon_disabled_status.svg" alt="status disabled">
                            </div>
                            <p [ngClass]="getOpacityText(item.active)">{{ getTextEnglish(item.status) }}</p>
                        </div>
                    <div [ngClass]="[showElement(i+1), getOpacity(item.active, i)]" class="line-step"></div>
                </section>
            </div>
        </mat-card-content>
        <section class="content-button-actions">
            <button mat-button 
                color="accent" 
                class="btn-default btn-track-order"
                [ngClass]="disabledTrackingBtn ? 'disabled btn-track-order-bg-disabled' : 'btn-track-order-bg-active'"
                [disabled]="disabledTrackingBtn"
                (click)="trackOrder()">
                Track Order
            </button>
        </section>
    </mat-card>
    <mat-expansion-panel class="expansion-panel" [expanded]="expandedPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ titleExpansionPanel }}</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>{{ destinations.address }}</li>
            <li>{{ getDate(destinations.startDate) | date:'dd/MM/yyyy' }}</li>
            <li>{{ destinations.contact_info.telephone }}</li>
            <li>{{ destinations.contact_info.email }}</li>
        </ul>
    </mat-expansion-panel>
</section>
