<section>
    <app-card-orders *ngIf="isActive()" [orderData]="getOrderDetail()"></app-card-orders>
    <mat-card *ngIf="isActive()" class="card-orders">
        <mat-card-header>
            <div class="content-img">
                <img src="assets/img/user.png" alt="image avatar">
            </div>
        </mat-card-header>
        <mat-card-content>
            <h3 class="title">10:30 PM</h3>
            <div class="steps-status">
                <section class="content" *ngFor="let item of listStatusItem; let i = index;">
                    <div class="content-circle">
                        <div class="status-order" *ngIf="item.active">
                            <img src="assets/icons/icon_check.svg" alt="status check">
                        </div>
                            <div *ngIf="!item.active">
                                <img src="assets/icons/icon_disabled_status.svg" alt="status disabled">
                            </div>
                            <p [ngClass]="getOpacityText(item.active)">{{ getTextEnglish(item.status) }}</p>
                        </div>
                    <div [ngClass]="[showElement(i+1), getOpacity(item.active, i)]" class="line-step"></div>
                </section>
            </div>
        </mat-card-content>
        <section class="content-button-actions">
            <button mat-button 
                color="accent" 
                class="btn-default btn-track-order"
                [ngClass]="disabledTrackingBtn ? 'disabled' : ''"
                [disabled]="disabledTrackingBtn">
                Track Order
            </button>
        </section>
    </mat-card>
    <mat-expansion-panel *ngIf="isActive()" class="expansion-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>Pickup Data</mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</section>
