<section class="content-card">
    <h3 [hidden]="getStatusActive" class="label"><span class="order">Order</span><span> #{{ orderData.order_number }} </span></h3>
    <mat-card class="card-orders">
        <mat-card-header class="mat-card-header">
            <div [hidden]="getStatusActive" class="mat-header__title">
                <img  src="assets/icons/icon_train.svg" alt="">
                <p>{{ orderData.type }}</p>
            </div>
            <div [hidden]="getStatusActive" class="mat-header__status">
                <div [ngClass]="getClassByStatus(orderData.status)" class="circle"></div>
                <p>{{ getText(orderData.status) }}</p>
            </div>
        </mat-card-header>
        <mat-divider [hidden]="getStatusActive" class="divider"></mat-divider>
        <mat-card-content class="mat-card-content">
            <h5 [hidden]="!getStatusActive">{{ 'Referencia: AB100' }}</h5>
            <h3 [hidden]="!getStatusActive" class="label"><span class="order">Order</span><span> #{{ orderData.order_number }} </span></h3>
            <section class="info">
                <div class="info__card" (click)="showInfoPickup()">
                    <p class="info-title-pickup">PICKUP</p>
                    <div class="info-pickup">
                        <img [hidden]="getStatusActive" class="icon-transport" src="assets/icons/icon_transport.svg" alt="image transport">
                        <div [hidden]="!getStatusActive" class="content-trailer">
                            <img class="icon-transport" src="assets/icons/icon_trailer.svg" alt="image transport">
                        </div>
                        <div class="ubication">
                            <h4>{{ getCountry(orderData.destinations[0].address) }}</h4>
                            <p>{{ orderData.destinations[0].address | splitText }}</p>
                            <div [hidden]="!getStatusActive" 
                                 class="mat-header__status"
                                 [ngClass]="getStatusActive ? 'new-status' : ''">
                                <div [ngClass]="'status-accepted'" class="circle"></div>
                                <p>Accepted</p>
                            </div>
                        </div>
                        <div [hidden]="getStatusActive" class="info-time">
                            <p class="date">{{ getDate(orderData.destinations[0].start_date) | date:'dd/MM/yyyy'}}</p>
                            <p class="time">10:45</p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="info__card" (click)="showInfoDropoff()">
                    <p class="info-title-dropoff">DROPOFF</p>
                    <div class="info-dropoff">
                        <img [hidden]="getStatusActive" class="icon-ubication" src="assets/icons/icon_ubication.svg" alt="image transport">
                        <div [hidden]="!getStatusActive" class="content-circle"></div>
                        <div class="ubication">
                            <h4>{{ getCountry(orderData.destinations[1].address) }}</h4>
                            <p>{{ orderData.destinations[1].address | splitText }}</p>
                            <div [hidden]="!getStatusActive" 
                                 class="mat-header__status"
                                 [ngClass]="getStatusActive ? 'new-status' : ''">
                                <div [ngClass]="'status-assigned'" class="circle"></div>
                                <p>On hold</p>
                            </div>
                        </div>
                        <div [hidden]="getStatusActive" class="info-time">
                            <p class="date">{{ getDate(orderData.destinations[1].end_date) | date:'dd/MM/yyyy' }}</p>
                            <p class="time">16:45</p>
                        </div>
                    </div>
                </div>
            </section>
        </mat-card-content>
        <section class="button-actions" [hidden]="getStatusActive">
            <button [disabled]="!enableNavigation"
                    *ngIf="showButtonByStatus(orderData.status)" 
                    mat-button color="accent" 
                    class="btn-default btn-time-pickup"
                    (click)="navigate()">
                Start pickup in <span class="interval-time">{{ intervalTime }}</span>
            </button>
            <div *ngIf="orderData.status != 2"></div>
            <button mat-button 
                    color="accent" 
                    class="btn-default btn-resume"
                    (click)="showDataOrderDetail(orderData)">
                Resume
                <mat-icon>visibility</mat-icon>
            </button>
        </section>
    </mat-card>
</section>
  