:root {
    --color-theme-principal: #060359;
    --color-theme-secondary: #4E1B56;
    --color-background: #f2f0f0;
  }

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}